*{
    box-sizing: border-box;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 244, 244);
    margin: 0 10%;
}

header ol{
    margin: 0 20%;
    list-style: none;
    display: flex;
    flex-grow: 1;
    height: 70px;
}

header ol li{
    display: flex;
    flex: 1;
    justify-content: center;
    border-right: 2px solid rgb(14, 172, 234) ;
    border-left: 2px solid rgb(14, 172, 234) ;
    text-align: center;
    align-items: center;
}

header ol .profile{
    display: flex;
}

header ol .profile img, header ol .profile a{
    flex: 1;
    flex-direction: row;
    border-radius: 100%;
}

header img{
    padding: 0 10%;
    width: 40px;
    height: 50px;
}

#Omaedareyanen{
    display: flex;
    height: 300px;
    margin: 0 25%;
    align-items: center;
    justify-content: center;
}

#CurrentNews{
    display: flex;
    height: 350px;
    margin: 0 20%;
    background-color: rgb(222, 219, 219);
}

#CurrentNews img, #CurrentNews section{
    flex: 2;
    flex-direction: row;
}

#CurrentNews section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#CurrentNews section h2{
    font-size: 20px;
    font-style: bold;
}

article{
    margin: 0 15% ;
    font-size: 15px;
}

