*{
    box-sizing: border-box;
    background-color: rgb(233, 233, 233);

}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    margin: 50px 10%;
}

header h2{
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15% 0 10%;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

header ol{
    margin: 0 20% 0 10%;
    list-style: none;
    display: flex;
    flex-grow: 1;
    height: 70px;

}

header ol li{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 15% 0 10%;
}

header ol li a {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: rgb(166, 96, 232);
}

header ol li a:hover{
    color: rgb(166, 96, 150);
}

.aboutMe{
    height: 500px;
    display: flex;
    padding: 0 10%;
    margin-top: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
.aboutMe > section{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 8%;
}


.aboutMe > section > h1, .aboutMe > section > h2{
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    padding: 0 0;
    margin: 0 0;
}

.aboutMe > section > span{
    font-size: 25px;
    font-style: bold;
}
.aboutMe > section > img{

    height: 500px;
    width: 500px;
}

.aboutMe .leftSection button{
    border: 5px solid black;
    border-radius: 10%;
    width: 170px;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    color: rgb(166, 96, 232);
}

.aboutMe .leftSection button:hover{
    background-color: rgb(166, 164, 164);
}

